<h2 mat-dialog-title *ngIf="!showMessage" class="text-sm">
  Forgot Password
  <mat-icon class="button-close" [mat-dialog-close]="true">close</mat-icon>
</h2>
<mat-dialog-content class="mat-typography">
  <form  class="grid gap-x-12 md:grid-cols-1 lg:w-12/12" [formGroup]="forgotPasswordForm" *ngIf="!showMessage">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email to receive the password reset link</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        placeholder="Email"
      />
      <mat-error
        *ngIf="this.forgotPasswordForm.controls['email'].hasError('required')"
        >Email is required</mat-error
      >
      <mat-error
        *ngIf="this.forgotPasswordForm.controls['email'].hasError('pattern')"
        >please enter valid email
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!showMessage">
  <button mat-stroked-button [mat-dialog-close]="true" color="primary">Cancel</button>
  <button
    mat-flat-button
    color="accent"
    type="button"
    [disabled]="forgotPasswordForm.invalid"
    (click)="submitForgotPasswordForm()"
  >
    Submit
  </button>
</mat-dialog-actions>

<div *ngIf="showMessage">
  <h2 mat-dialog-title class="blue">
    Reset Your Password
    <button mat-icon-button aria-label="icon button with close icon">
      <mat-icon [mat-dialog-close]="true">close</mat-icon>
    </button>
  </h2>
  <div mat-dialog-content>
    <div>
      <h1><b>Please check your mail</b></h1>
      <p class="el-center">
        {{ verifyMessage
        }}<span
          class="forgot-password cursor-pointer text-blue-500 hover:underline underline-offset-8"
          >{{ email }}</span
        >
      </p>
      <p></p>
    </div>
  </div>
</div>
