<div class="login-container">
  <div class="form-wrapper">
    <div class="logo el-center">
      <img
        src="assets/images/M2MLogo.jpg"
        class="w-auto m-auto"
        alt="HappyFarmer"
      />
    </div>
    <h2 class="el-center mb-3 resetPassword">SET PASSWORD</h2>
    <form [formGroup]="setPasswordForm" class="form-login">
      <mat-form-field appearance="outline" class="paswordtooltip">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Enter new password"
          formControlName="newPassword"
          required
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            this.setPasswordForm.controls['newPassword'].hasError('required')
          "
          >New password is required
        </mat-error>
        <mat-error
          *ngIf="
            this.setPasswordForm.controls['newPassword'].hasError('pattern')
          "
          >please enter valid password
          <mat-icon [matTooltip]="passwordInfo">info</mat-icon>
        </mat-error>
        <span class="paswordtooltiptext">{{ passwordInfo }}</span>
      </mat-form-field>

      <mat-form-field appearance="outline" class="paswordtooltip">
        <mat-label>Re-enter New Password</mat-label>
        <input
          matInput
          placeholder="enter Confirm Password"
          [type]="visible ? 'password' : 'text'"
          formControlName="confirmPassword"
          required
        />
        <mat-icon matSuffix (click)="visible = !visible">{{
          visible ? "visibility_off" : "visibility"
        }}</mat-icon>
        <mat-error
          *ngIf="
            this.setPasswordForm.controls['confirmPassword'].hasError(
              'required'
            )
          "
          >confirm password is required</mat-error
        >
        <mat-error
          *ngIf="
            this.setPasswordForm.controls['confirmPassword'].hasError(
              'confirmedValidator'
            )
          "
          >Password and Confirm Password must be match.</mat-error
        >
        <span class="paswordtooltiptext">{{ passwordInfo }}</span>
      </mat-form-field>
      <button
        mat-flat-button
        type="submit"
        color="primary"
        class="w-100"
        [disabled]="setPasswordForm.invalid"
        (click)="submitForm()"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="branding">
    <h1><span>Connect,</span> Grow, Earn</h1>
  </div>
</div>
