<section class="login-section">
  <div class="login flex justify-center items-center h-screen">
    <div
      class="login__form flex flex-col gap-y-4 items-center justify-center p-6 w-10/12 md:w-6/12 lg:w-2/5 xl:w-1/4 max-w-sm rounded-xl bg-gradient-to-b from-white via-white z-10"
    >
      <img src="assets/image/corescript.png" alt="EMR" class="w-32" />
      <form
        [formGroup]="resetPasswordForm"
        class="mt-4 w-full flex flex-col gap-y-1"
      >
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            placeholder=" New Password"
            formControlName="newPassword"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              this.resetPasswordForm.controls['newPassword'].hasError(
                'required'
              )
            "
            >New password is required
          </mat-error>
          <mat-error
            *ngIf="
              this.resetPasswordForm.controls['newPassword'].hasError('pattern')
            "
            >please enter valid password
            <!-- <mat-icon [matTooltip]="passwordInfo">info</mat-icon> -->
          </mat-error>
          <!-- <span class="paswordtooltiptext">{{ passwordInfo }}</span> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Re-enter New Password</mat-label>
          <input
            [type]="visible ? 'password' : 'text'"
            matInput
            placeholder="Re-enter Password"
            formControlName="confirmPassword"
          />
          <mat-icon matSuffix (click)="visible = !visible">{{
            visible ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-error
            *ngIf="
              this.resetPasswordForm.controls['confirmPassword'].hasError(
                'required'
              )
            "
            >confirm password is required</mat-error
          >
          <mat-error
            *ngIf="
              this.resetPasswordForm.controls['confirmPassword'].hasError(
                'confirmedValidator'
              )
            "
            >Password and Confirm Password must be match.</mat-error
          >
          <!-- <span class="paswordtooltiptext">{{ passwordInfo }}</span> -->
        </mat-form-field>
        <p class="flex flex-col items-end mb-4 md:justify-between"></p>
        <div class="btn_row flex flex-col">
          <button mat-flat-button color="accent" (click)="submitForm()">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
